@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #F2B279, #F2845C);
}

main {
    background-color: #F2E3B3;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a89e7db2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    color: #4579AB;
    text-align: center;
    text-shadow: 1px 1px 2px #2846639f;
}

h2 {
    color: #D9415D;
    text-align: center;
    text-shadow: 1px 1px 2px #a02f44c7;
}